* {
    margin: 0;
    padding: 0;
    cursor: auto;
}

:root {
    --ballSize: 80px;
}

.floor{
    position: fixed;
    top: 600px;
    height: 0px;
    width: 100vw;
    border-bottom: 20px solid black;
    align-items: center;
    justify-content: center;
}

.ball {
    bottom: calc(var(--ballSize)/2);
    left: 50vw;
    display: block;
    position: absolute;
    height: var(--ballSize);
    width: var(--ballSize);
    background-color: blue;
    border-radius: 50%;
    cursor: url('./open_cursor.png'), auto;
    transform: translate(-50%, 50%);
}